.home {
  text-align: center;
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
}

.header {
  width: 100%; 
  height: 10vh;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid rgb(197, 42, 42); */
  display: flex;
  /* border-bottom: 2px solid rgb(0, 0, 0); */


}

.logo {
  /* border: 2px solid red; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  width: 30vw;
  /* font-weight: bold; */
  margin: auto;
  text-align: center;
}


/* featured recipes */
.featured {
  background-image: url(featuredTest.jpg);
  display: flex;
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  width: 100%;
  height: 80vh;
  transition: filter 0.3s ease-in-out; /* Smooth transition effect */
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  position: relative;
  filter: brightness(100%); 
  cursor: pointer;
}

.featured::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Dark overlay effect */
  z-index: 1;
}

.featured > * {
  position: relative;
  z-index: 2; /* Keeps child elements above the dark overlay */
}

.featured:hover::before {
  opacity: 0; 
}

.featuredTextBox {
  width: 100%;
  height: 20vh;
  opacity: 0.4;
  background-color: rgb(0, 0, 0);
  margin-top: 50vh;
  position: absolute;
  /* border: 2px solid red; */
}

.featuredText {
  /* border: 2px solid red; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  width: 30vw;
  /* font-weight: bold; */
  color: white;
  margin-top: 40vh;
  /* border: 2px solid red; */
}

.featuredTextDescription {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  width: 30vw;
  color: white;
  margin-top: 60vh;
  /* border: 2px solid red; */
}

.featured-link {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color from parent */
}


/* menu */

.menuIconContainer {
  position: absolute;
  margin-left: 1.7vw;
  margin-top: 1.2%;
  width: 40px; /* Adjust as needed */
  height: 40px;
  /* border: 2px solid red; */
  z-index: 998;
}

.menuIcon {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.menuCheckBox input:checked ~ .menuIconContainer{
  position: fixed;
}

.menuCheckBox input {
  position: absolute;
  margin-left: 2.5vw;
  margin-top: 2%;
  transform: scale(2.8);
  z-index: 999;
  cursor: pointer;
  opacity: 0;
}
.menuCheckBox input:checked {
  position: fixed;
}

.menuCheckBox input:checked ~ .menuIconContainer{
  position: fixed;
}

.menuCheckBox input:checked ~ .side-menu{
  left: 0px;
}

.menuCheckBox input:not(:checked) ~ .side-menu {
  left: -250px;
}

.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #e0e0e0;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 98;
}

.side-menu .btn1 {
  position: fixed;
  margin-top: 60px;
  width: 250px;
  height: 40px;
  left: -250px;
  transition: 0.3s;
}

.side-menu .btn2 {
  position: fixed;
  margin-top: 110px;
  width: 250px;
  height: 40px;
  left: -250px;
  transition: 0.3s;
}

.menuCheckBox input:checked ~ .side-menu .btn2 {
  left: 0px;
}


.menuCheckBox input:not(:checked) ~ .side-menu .btn2 {
  left: -250px;
}

.menuCheckBox input:checked ~ .side-menu .btn1 {
  left: 0px;
}


.menuCheckBox input:not(:checked) ~ .side-menu .btn1 {
  left: -250px;
}


/* quote banner */
.banner {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 30vh;
  display: flex;
}

.quote {
  /* border: 2px solid red; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  width: 50vw;
  /* font-weight: bold; */
  margin: auto;
  text-align: center;
  color: white;
}

/* options */
.options {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80vh;
  align-items: center;
  display: flex
}

.savoury {
  height: 60vh;
  width: 100%;
  background-color: blue;
  background-image: url(savouryTest.jpg);
  display: flex;
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  align-items: center;
  cursor: pointer;
  z-index: 1;
  /* border: 2px solid red; */
  position: relative;
}

.savouryParent {
  height: 60vh;
  width: 25%;
  background-color: blue;
  margin-left: 10%;
}

.savoury:hover {
  filter: brightness(110%); 
}

.sweet:hover {
  filter: brightness(110%); 
}

.travel:hover {
  filter: brightness(110%); 
}


.sweet {
  height: 60vh;
  width: 100%;
  /* margin-left: 2.5%; */
  background-color: blue;
  background-image: url(sweetTest.jpg);
  display: flex;
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  align-items: center;
  display: flex;
  cursor: pointer;
  /* border: 2px solid red; */
  position: relative;
}

.sweetParent {
  height: 60vh;
  width: 25%;
  background-color: blue;
  margin-left: 2.5%;
}

.travel {
  height: 60vh;
  width: 100%;
  /* margin-left: 2.5%; */
  background-color: blue;
  background-image: url(travelTest.jpg);
  display: flex;
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  align-items: center;
  display: flex;
  cursor: pointer;
  /* border: 2px solid red; */
  position: relative;
}

.travelParent {
  height: 60vh;
  width: 25%;
  background-color: blue;
  margin-left: 2.5%;
}

.whiteTextBox {
  width: 100%;
  height: 11vh;
  opacity: 0.6;
  margin: auto;
  background-color: white;
  margin-top: 40vh;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: space-between; /* Push elements to top and bottom */
  padding: 1vh 0; /* Add some padding for spacing */
  /* border: 2px solid red; */
  /* border: 2px solid red; */
}

.optionsTitles {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  width: 30vw;
  text-align: center; /* Ensure text is centered */
  color: black;
  width: auto;
  /* border: 2px solid red; */
}

.optionsDescription {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  width: 30vw;
  text-align: center; /* Ensure text is centered */
  color: black;
  z-index: 5;
  width: auto;
  /* border: 2px solid red; */
}




/* about me*/
.aboutMeContainer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: flex-start; /* Ensures elements are placed at opposite ends */
  align-items: center; /* Centers them vertically */
  gap: 3%;
  /* border: 2px solid red; */
}

.aboutMePic {
  background-color: blue;
  width: 35%;
  height: 55vh;
  background-image: url(aboutMeTest.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 7%;
}

.aboutMeTextBox {
  width: 50%;
  height: 50%;
  display: flex;
  background-color: rgb(212, 212, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.aboutMeTitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  /* border: 2px solid red; */
  height: 13%;
  width: 20%;
  flex: none;
  /* margin-top: 2% */
  border-bottom: 1px solid;
}

.aboutMeDescription {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  /* margin-top: 8%; */
  margin-right: 2%;
  margin-left: 2%;
  /* border: 2px solid red; */
  /* flex: none; */
}


/* socials */

.socialsBg {
  background-color: rgb(226, 224, 224);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1%;
}

.socialsBtnContainer {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  margin-right: 2%;
  /* opacity: 0.2; */
  background-image: url(facebookIcon.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* login-page */

.login-page .header {
  width: 100%; 
  height: 10vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  align-self: flex-start;
  border-bottom: 2px solid rgb(0, 0, 0);

}

.login-page .logo {
  color: rgb(0, 0, 0);
}


.login-page {
  display: flex;
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
}

/* login */

.loginBox {
  width: 50%;
  height: 40vh;
  justify-content: center;
  align-items: flex-end;
  /* border: 2px solid red; */
}